<div class="list-page">
    <div class="col-md-12 col-xl-12 py-md-3" style="margin-left: -1.75em;">
        <div class="page-header list">
            <h1 class="bd-title">
                {{ .Title }}
            </h1>
            {{ if .Description }}
                <p>
                    {{ .Description | markdownify }}
                </p>
            {{ end}}
            {{ if .Content }}
                <p>
                    {{ .Content | markdownify }}
                </p>
            {{ end }}
        </div>
    </div>

    <section>
        <div class="row">
            <div class="card-deck">
        {{ range .Pages.GroupBy "Section" }}
            
            {{ range .Pages.ByWeight }}
            <div class="col-md-5 card">
                <div class="card-body">
                    <h3 class="card-title">
                        <i class="fas fa-{{if eq .Kind "page"}}file-alt{{else}}book{{end}} fa-lg card-img-top"></i>
                        <a href="{{ if .Params.url}}{{ .Params.url}}{{else}}{{ .Permalink }}{{end}}">{{ .Title }}</a>
                    </h3>
                    {{ if eq .Title "API Connectivity Manager" }}
                    <p class="card-text">
                        <div>
                            <i class="fa-solid fa-triangle-exclamation"></i><strong>This product is End of Sale.</strong> See our <a href="https://my.f5.com/manage/s/article/K000137989">End of Sale announcement</a> for more details.
                        </div> 
                    </p>
                    {{ end }}
            
            </div>
            </div>

            {{ end }}
        </div> 
    </div>  
        {{ end }}


    </section>
    
</div>
