<!-- markdownlint-disable -->
# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @nginxinc/nginx-docs will be requested for
# review when someone opens a pull request.
# *       @nginxinc/nginx-docs

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner #This is an inline comment.
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for all NGINX App Protect content
# in the repo:
content/nap-waf/*       @nginxinc/nap-docs-approvers
content/nap-dos/*       @nginxinc/nap-docs-approvers
data/nap-waf/*          @nginxinc/nap-docs-approvers

# These owners will be the default approvers for all NGINX Plus and OSS content
# in the repo:
content/nginx/* @nginxinc/plus-docs-approvers