# Each of these groups of CODEOWNERS have approval and merge authority over 
# the noted directories.
#
# If you want to add, modify, or delete files in any of these directories,
# open a pull request. Then add the appropriate group name (without the `@`)
# to the list of "Reviewers."
#
# Order is important; the last matching pattern takes precedence. 
# For example, when someone opens a pull request that only modifies files 
# in the content/nginx-one directory, you should assign @nginxinc/one-docs-approvers
# as a reviewer.
# 
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# DocOps Writers
*                           @nginx/nginx-docs

# DocOps Engineers
.github/*                   @nginx/docs-engineering

# NGINX Agent
content/nginx/nms/agent/*   @nginx/nginx-agent 

# NGINX App Protect DoS
content/nap-dos/*           @nginx/dos-docs-approvers

# NGINX App Protect WAF
content/nap-waf/*           @nginx/nap-docs-approvers
data/nap-waf/*              @nginx/nap-docs-approvers

# NGINX Gateway Fabric
content/ngf/*               @nginx/nginx-gateway-fabric
content/includes/ngf/*      @nginx/nginx-gateway-fabric

# NGINX Instance Manager
content/nms/nim/*           @nginx/nim-docs-approvers
content/nim/*               @nginx/nim-docs-approvers

# NGINX Plus
content/nginx/*             @nginx/plus-docs-approvers

# NGINX One
content/nginx-one/*         @nginx/one-docs-approvers

