# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner #This is an inline comment.
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# DocOps
*                           @nginxinc/nginx-docs
# NGINX Plus
content/nginx/*             @nginxinc/plus-docs-approvers
# NGINX Agent
content/nginx/nms/agent/*   @nginxinc/agent-docs-approvers
# NGINX One
content/nginx-one/*         @nginxinc/one-docs-approvers
# NGINX Instance Manager
content/nms/nim/*           @nginx/nim-docs-approvers
# NGINX App Protect WAF
content/nap-waf/*           @nginxinc/nap-docs-approvers
data/nap-waf/*              @nginxinc/nap-docs-approvers
# NGINX App Protect DoS
content/nap-dos/*           @nginxinc/dos-docs-approvers