# Set the default behavior for correcting line endings, 
# in case people don't have core.autocrlf set.
* text=auto
.github/workflows/update_from_nginx_documentation.yml merge=ours
.gitattributes merge=ours
