{{ define "main" }}
<div class="row flex-xl-nowrap">
  <nav class="sidenav overflow-auto col-md-3 d-none d-xl-block d-print-none align-top" style="width: 25%;">
    {{ partial "sidebar.html" . }}
  </nav>

  {{if (.Params.catalog) }}
  c<main class="content content-has-toc" role="main">
  {{ else if and (gt .WordCount 200 ) (.Params.toc) }}
  <main class="content col-xl-6 d-block align-top" role="main">
  {{ else }}
  <main class="content col d-block align-top content-no-toc" role="main">
  {{ end }}

    <blockquote class="warning">
      <div><i class="fa-solid fa-triangle-exclamation"></i><strong> End of Sale Notice:</strong><br><br> F5 NGINX is announcing the <strong>End of Sale (EoS)</strong> for NGINX Controller API Management Module, <strong>effective January 1, 2024</strong>.<br><br>F5 maintains generous lifecycle policies that allow customers to continue support and receive product updates. Existing NGINX Controller API- Management customers can continue to use the product past the EoS date. <strong>License renewals are not available after September 30, 2024.</strong><br><br>See our <a href="https://my.f5.com/manage/s/article/K000137989">End of Sale announcement</a> for more details.
    </div></blockquote>
    <blockquote class="warning">
      <div><i class="fa-solid fa-triangle-exclamation"></i><strong> End of Sale Notice:</strong><br><br>F5 NGINX is announcing the <strong>End of Sale (EoS)</strong> for NGINX Controller Application Delivery Module, <strong>effective January 1, 2024</strong>.<br><br>F5 maintains generous lifecycle policies that allow customers to continue support and receive product updates. Existing NGINX Controller Application Delivery customers can continue to use the product past the EoS date. <strong>License renewals are not available after September 30, 2024.</strong><br><br>See our <a href="https://my.f5.com/manage/s/article/K000137993">End of Sale announcement</a> for more details.</div>
    </blockquote>

    <h1>{{ .Title }}</h1>

      {{ if eq .Page.Draft true }}{{ partial "draft-badge.html" . }}{{ end }}
      {{ if .Description }}<p>{{ .Description | markdownify }}</p>{{ end}}

      {{ if in .Params.doctypes "beta" }}{{ partial "beta-badge" . }}{{ end }}

    {{ .Content }}
    {{ partial "version-list" . }}
  <hr>
    {{ partial "previous-next-links-in-section-with-title.html" . }}

  </main>
  {{ if and (gt .WordCount 200 ) (.Params.toc) }}
    {{ if (add  (len (findRE "<h3" .Content)) (len (findRE "<h2" .Content))) }}
      <div class="col-md-3 d-none d-xl-block d-print-none nginx-toc align-top" style="width: 25%;">
      {{ partial "toc.html" . }}
      </div>
    {{ end }}
  {{ end }}
</div>
<!-- If there is a script defined in the page metadata, load it  -->
{{if .Params.script}}
  {{ $script := (delimit (slice "scripts" .Params.script) "/")}}
  {{ partial (string $script) .}}
{{end }}

{{ end }}
