{{ define "main" }}
<div class="row flex-xl-nowrap">
  <nav class="sidenav overflow-auto col-md-3 d-none d-xl-block d-print-none align-top" style="width: 25%;">
    {{ partial "sidebar.html" . }}
  </nav>

  {{if (.Params.catalog) }}
  <main class="content content-has-toc" role="main">
  {{ else if and (gt .WordCount 200 ) (.Params.toc) }}
  <main class="content col-xl-6 d-block align-top" role="main">
  {{ else }}
  <main class="content col d-block align-top content-no-toc" role="main">
  {{ end }}

    <blockquote class="caution">
      <div>
        <i class="fa-solid fa-triangle-exclamation"></i><strong> Important: NGINX Plus R33 requires NGINX Instance Manager 2.18 or later</strong>
        <br>
        To ensure uninterrupted traffic processing, upgrade to NGINX Instance Manager 2.18 or later if your NGINX data plane instances are running NGINX Plus R33. This upgrade is necessary to support usage reporting.
        <br><br>
        NGINX Plus R33 instances must send usage data to the F5 licensing endpoint or NGINX Instance Manager. If they don’t, they will stop processing user traffic.
        <br><br>
        For more information about usage reporting and enforcement, see 
        <a href="../../../../solutions/about-subscription-licenses">About solution licenses</a>.
      </div>
    </blockquote>

    <h1>{{ .Title }}</h1>

      {{ if eq .Page.Draft true }}{{ partial "draft-badge.html" . }}{{ end }}
      {{ if .Description }}<p>{{ .Description | markdownify }}</p>{{ end}}

      {{ if in .Params.doctypes "beta" }}{{ partial "beta-badge" . }}{{ end }}

    {{ .Content }}
    {{ partial "version-list" . }}
  <hr>
    {{ partial "previous-next-links-in-section-with-title.html" . }}

  </main>
  {{ if and (gt .WordCount 200 ) (.Params.toc) }}
    {{ if (add  (len (findRE "<h3" .Content)) (len (findRE "<h2" .Content))) }}
      <div class="col-md-3 d-none d-xl-block d-print-none nginx-toc align-top" style="width: 25%;">
      {{ partial "toc.html" . }}
      </div>
    {{ end }}
  {{ end }}
</div>
<!-- If there is a script defined in the page metadata, load it  -->
{{if .Params.script}}
  {{ $script := (delimit (slice "scripts" .Params.script) "/")}}
  {{ partial (string $script) .}}
{{end }}

{{ end }}
