{{ define "main" }}
<div class="row flex-xl-nowrap">
  <nav class="sidenav overflow-auto col-md-3 d-none d-xl-block d-print-none align-top" style="width: 25%;">
    {{ partial "sidebar.html" . }}
  </nav>

  {{if (.Params.catalog) }}
  c<main class="content content-has-toc" role="main">
  {{ else if and (gt .WordCount 200 ) (.Params.toc) }}
  <main class="content col-xl-6 d-block align-top" role="main">
  {{ else }}
  <main class="content col d-block align-top content-no-toc" role="main">
  {{ end }}

  <blockquote class="warning">
   <div><i class="fa-solid fa-triangle-exclamation"></i><strong> End of Sale Notice:</strong><br><br> Commercial support for NGINX Service Mesh is available to customers who currently have active NGINX Microservices Bundle subscriptions.
      F5 NGINX announced the <strong>End of Sale (EoS)</strong> for the NGINX Microservices Bundles <strong>as of July 1, 2023</strong>.<br><br>
      See our <a href="https://my.f5.com/manage/s/article/K000135468">End of Sale announcement</a> for more details.
 </div></blockquote>

    <h1>{{ .Title }}</h1>

      {{ if eq .Page.Draft true }}{{ partial "draft-badge.html" . }}{{ end }}
      {{ if .Description }}<p>{{ .Description | markdownify }}</p>{{ end}}

      {{ if in .Params.doctypes "beta" }}{{ partial "beta-badge" . }}{{ end }}

    {{ .Content }}
    {{ partial "version-list" . }}
  <hr>
    {{ partial "previous-next-links-in-section-with-title.html" . }}

  </main>
  {{ if and (gt .WordCount 200 ) (.Params.toc) }}
    {{ if (add  (len (findRE "<h3" .Content)) (len (findRE "<h2" .Content))) }}
      <div class="col-md-3 d-none d-xl-block d-print-none nginx-toc align-top" style="width: 25%;">
      {{ partial "toc.html" . }}
      </div>
    {{ end }}
  {{ end }}
</div>
<!-- If there is a script defined in the page metadata, load it  -->
{{if .Params.script}}
  {{ $script := (delimit (slice "scripts" .Params.script) "/")}}
  {{ partial (string $script) .}}
{{end }}

{{ end }}
