{{ define "main" }}

<style>
    .nginx-docs-api-container {
        width: calc(100% + 30px);
        margin-left: -15px;
    }
    .menu-content {
        top: 0 !important;
        height: 100% !important;
    } 
    .bCOLCR {
        background: #e6e6e6;
    }
    .fTsuzH {
        background-color: #e6e6e6;
    }
    .fgRoXk {
        background-color: #FAFAFA;
    }
    #api-component > api-container > redoc {
        background-color: #e6e6e6;
    }
    div.sc-jSFjdj.sc-gKAaRy.dYGhuI.fTsuzH > div > h3 {
        color: #000000;
    }
    div.sc-dvUynV.fgRoXk.redoc-wrap {
        margin-left: -15px;
        margin-right: -15px;
    }
    .gKPxXE .collapser {
        background-color: transparent!important;
    }
    div > div.sc-jSFjdj.sc-gKAaRy.dYGhuI.fTsuzH > div.sc-EZqKI.iONckA > button:hover {
        background-color: #003963;
    }
    div > div.sc-giAqHp.hIuvjA > button:hover {
        color: #003963;
    }
    .nginx-docs-api-container button:hover {
        background-color: rgb(237, 237, 237);
    }
    pre {
        white-space: pre-wrap;
    }
    html {
        scroll-behavior: auto;
    }

</style>
<blockquote class="caution" style="margin-top: 10px; border: 1px solid orange; width: 100%;">
    <div>
      <i class="fa-solid fa-flask"></i> <strong>Early Access Preview</strong><br><br> NGINX One is currently available in Early Access. This preview version is for evaluation and testing purposes only and should not be used in production environments. 

    </div>
  </blockquote> 
<!--Use wide page layout for the API reference pages-->
<div class="nginx-docs-api-container">     
    <div id="api-component">
      {{ .Content}}
    </div>
  </div>
{{ end }}