<div class="list-page">
   <div class="col-md-12 col-xl-12 py-md-3 pl-md-5">
       <div class="page-header list">
         <blockquote class="warning">
            <div><i class="fa-solid fa-triangle-exclamation"></i><strong> End of Sale Notice:</strong><br><br> Commercial support for NGINX Service Mesh is available to customers who currently have active NGINX Microservices Bundle subscriptions.
               F5 NGINX announced the <strong>End of Sale (EoS)</strong> for the NGINX Microservices Bundles <strong>as of July 1, 2023</strong>.<br><br>
               See our <a href="https://my.f5.com/manage/s/article/K000135468">End of Sale announcement</a> for more details.
            </div></blockquote>
           <h1 class="bd-title">
               {{ .Title }}
           </h1>
           {{ if .Description }}
               <p>
                   {{ .Description | markdownify }}
               </p>
           {{ end }}
           {{ if .Content }}
               <p>
                   {{ .Content | markdownify }}
               </p>
           {{ end }}
       </div>
   </div>

   <section>
       <div class="row">
           <div class="card-deck">
       {{ range .Pages.GroupBy "Section" }}

           {{ range .Pages.ByWeight }}
           <div class="col-md-5 card">
               <div class="card-body">
                   <h3 class="card-title">
                       <i class="fas fa-{{if eq .Kind "page"}}file-alt{{else}}book{{end}} fa-2x card-img-top"></i>
                       <a href="{{ if .Params.url}}{{ .Params.url}}{{else}}{{ .Permalink }}{{end}}">{{ .Title }}</a>
                   </h3>
                   {{/*}}<p class="card-text">
                       {{ if .Description }}{{ .Description | markdownify }}{{ end }}
                   </p>{{*/}}

           </div>
           </div>

           {{ end }}
       </div>
   </div>
       {{ end }}


   </section>

</div>