<nav aria-label="breadcrumb" class="breadcrumb navbar">
    <div class="nav flex-md-row">
        <ol class="breadcrumb">
            {{ define "breadcrumb" }}
            
            {{ with .Parent }}
                {{ template "breadcrumb" . }}
                <li><a href="{{ .RelPermalink }}">{{if .IsHome}}Home{{else}}{{ .Title }}{{end}}</a><i class="fas fa-chevron-right"></i></li>
                {{ end }}
            {{ end }}
            
            {{ if not .IsHome }}
            
                {{ template "breadcrumb" . }}
                {{.Title}}
        </ol>
    </div>
</nav>
{{ end }}