{{/* This shortcode **requires** that the document uses the _default/catalogs.html layout */}}
<main class="content col-xl-6 d-block align-top" role="main">
    <h1>NGINX Management Suite Dimensions Catalog</h1>
    <p>Information about all of the Dimensions collected by NGINX Agent</p>
    &nbsp;
    {{ range .Site.Data.nms.catalogs.dimensions }}
    <a name="{{.name}}"></a>
    <h2>{{.name}}<a class="headerlink float-right" href="#{{.name}}" title="{{.name}}"><i class="fas fa-link fa-xs"
                aria-hidden="true"></i></a></h2>
    <table>
        <tbody>
            <tr>
                <td style="width: 200px; padding-bottom:5px">description</td>
                <td>{{.description}}</td>
            </tr>
            <tr>
                <td style="width: 200px; padding-bottom:5px">type</td>
                <td>{{.type}}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    {{ end }}
</main>
