<blockquote class="caution">
<div><strong><i class="fa-solid fa-triangle-exclamation"></i></strong>
<p>F5 NGINX ModSecurity WAF reached End of Sale (EoS) effective April 1, 2022.
No further renewals will be accepted as of April 1, 2023.

NGINX ModSecurity WAF reaches End of Life (EoL) effective March 31, 2024. 

For additional information, refer to the [End of Life Announcement](https://www.nginx.com/blog/f5-nginx-modsecurity-waf-transitioning-to-eol/) on the NGINX Blog.
If you would like to contact your account manager at any time, please [reach out to us](https://www.nginx.com/contact-sales/).      
</p>
</div>
</blockquote>